@mixin users-columns ($num) {
  #columns {
    -webkit-column-count: $num;
    -moz-column-count: $num;
    column-count: $num;
  }
}

body{
  background: white;
  #users{
    @import  '_users';
  }
}


